RewriteEngine On

# Set the base to handle all requests relative to the root
RewriteBase /

# Ensure the root path also redirects to public/index.php
RewriteRule ^$ public/index.php [QSA,L]

# Redirect all other requests to public/index.php
RewriteRule ^(.*)$ public/index.php [QSA,L]